.product-card{
    display: flex;
    width: 220px;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px;
    margin: 8px;
}

.product-img{
    width: 200px;
    height: 200px;
}

.product-title{
    text-align: center;
}